html {
	background-color:#eeeeee;
	padding:0;
	margin-top:-8px;
}

body {
    color: black; background-color: white;
    font-size: 100.01%;
    font-family: Helvetica,Arial,sans-serif;
	position: relative;
	left: 20%;
    text-align: center;  /* Zentrierung im Internet Explorer */
	width:720px;
}
#header {
    font-size: 0.9em;
	color:#cc6677;
    margin-left: 10px; 
	margin-right: 0; 
	width:70%;
    text-align: left;
	background-repeat: no-repeat; 
	margin-bottom:100px;	
}

#sub_header {
	margin-top:30px;
}


div#language {
	font-size: 1.1em;
	font: Helvetica, Verdana, Arial, sans-serif;
	color:#00ccbb;
	width:20%;
	margin-left:590px;
	margin-top:-170px;
	text-align:right;
	text-decoration:bold;
}

p#english{
 	top:30px;
	right:310px;
}

p#finnish{
 	top:30px;
	right:270px;
	
}

p#Space_Decor {
	margin-left:590px;
	text-align:right;
	width:20%;
 	top:60px;
	right:290px;
	color:#666666;
}
/*
div#Wedding{
 style="position:absolute; top:220px; right:130px; clip:rect(0px, 350px, 250px, 0px);"
}


#Page {
	    text-align: left;    /* Seiteninhalt wieder links ausrichten */
//	    margin: 0 auto;      /* standardkonforme horizontale Zentrierung */
/*	    width: 740px;
		height: 500px;
	    padding: 10px;
	    background: #white;
}

	#Page img{
		position:absolute; 
		top:30px; 
		left:280px; 
		clip:rect(0px, 250px, 9	0px, 0px);
	}
	

  div#Sales_spaces {
	margin: 0 0 1em;
    float: left; 
	width: 390px;
	padding: 0;
	position:absolute;
	top:220px;
	left:260px;
	clip:rect(0px, 350px, 250px, 0px);
  }
  
  div#Weddings {
    margin: 0 0 1em 390px;
    margin-right:-80px;
	color: white;
  }
  
  p#Footer {
    clear: both;
    font-size: 0.83em;
	color: #b9b9b9;
    margin: 0 auto; 	
    text-align: center;
    background-color: white;
	width: 740px;
	padding: 10;
  }
