html {
  background-color:#eeeeee;
  padding:0;
  margin-top:0px;
}

body {
  color: black;
  font-size: 110.01%;
  font-family: 'Play','Yanone Kaffeesatz',Helvetica,Arial,sans-serif;
  position: relative;
  text-align: center;  /* Zentrierung im Internet Explorer */
  margin: 0;
}
body * {
  text-align: left;
}

#header {
  font-size: 0.9em;
  color: #ff8888;
  padding-top: 20px;
  margin-bottom: 25px;
  margin-left:20px;
  margin-right:20px;
}
#header h1 {
  float: left;
  margin: 0;
  margin-bottom:40px;
}

#sub_header {
  clear: left;
}

#headernav {
  float: right;
  width: 30%;
  margin-top: -5px;
}

#language {
  font-size: 1.4em;
  font-family:'Play','Yanone Kaffeesatz',Arial, Helvetica, Verdana, sans-serif;
  color: #00ccbb;
  text-align: right;
  font-weight:bold;
}
#language a {
  color: #00ccbb;
  text-decoration: none; 
}

#sublines {
  width:100%;
  text-transform: uppercase;
  margin-top:48px;
 
}
#sublines p {
  text-align: right;
  font-size: 14px;
  line-height:0.8em;
}
#subline1 {
  color:#666666;
  
}
#subline2 {
  color: #ff8888;
}

#wrapper {
  width: 900px;
  margin: 0 auto;
  background: white;
  padding: 0 20px;
}

#sales_spaces {
  float: left; 
  margin-left: 20px;
}

#weddings {
  float:right; 
  margin-right:20px;
}

#pic_sublines {
  clear: both;
}

#s_subline {
   text-transform: uppercase;
   color: #00ccbb;
   margin-top:5px;
}

#w_subline {
   text-transform: uppercase;
   color: #ff8888;
   margin-top:5px;
}

p#Footer {
  clear: both;
  font-size: 0.83em;
  color: #b9b9b9;
  margin: 0 auto;   
  text-align: center;
  background-color: white;
  padding: 40px;  
}

p#Footer a {  
  color: #b9b9b9;
  text-decoration: none;
}


 
