html {
  background-color:#eeeeee;
  padding:0;
  margin-top:0px;
}

body {
  color: black;
  font-size: 100.01%;
  font-family: Arial,Helvetica,sans-serif;
  position: relative;
  text-align: center;  /* Zentrierung im Internet Explorer */
  margin: 0;
}
body * {
  text-align: left;
}

#header {
  font-size: 0.9em;
  color: #ff8888;
  padding-top: 20px;
  margin-bottom: 0px;
  margin-left:20px;
  margin-right:20px;
}
#header h1 {
  float: left;
  margin: 0;
  margin-bottom:20px;
}

#sub_header {
  clear: left;
}

#headernav {
  float: right;
  width: 30%;
  margin-top: 8px;
}

#language {
  font-size: 1.3em;
  font-family:Arial, Helvetica, Verdana, sans-serif;
  color: #00ccbb;
  text-align: right;
  font-weight:bold;
  font-size: 130%;
}
#language a {
  color: #00ccbb;
  text-decoration: none; 
}

#sublines {
  width:100%;
  text-transform: uppercase;
  margin-top: 20px;
 
}
#sublines p {
  text-align: right;
  font-size: 10px;
  line-height:0.6em;
}
#subline1 {
  color:#666666;
}
#subline2 {
  color: #ff8888;
}

#menu_bar {
  margin-left:-52px;
  background-image:url(../images/menu_bar_2.gif);
  margin-top:90px;
  width:130%;
  height:80px;
  background-repeat:no-repeat;
  
}

#menu_text {
  float:left;
  margin-left:-320px;
  margin-top:20px;
  letter-spacing:3px;
}

#menu_text a {
  color:white;
  text-transform: uppercase;
  text-decoration: none;
  margin-top:20px;
  margin-left:85px;
}

#h_text {
  text-transform:uppercase;

}

#content {
  margin-top:0px;
  width:100%;
}

#sales_text {
  float:left;
  font-size: 0.9em;
  color: #666666;
  padding-top: 0px;
  margin-left:20px;
  margin-top:0px;
  width:630px;
}  
  
#sidebar {
  margin-top:17px;
  float:right;
  margin-right:-94px;
  width:300px;
}

.sidebar_box{
 
}
  #b_peach {
  background-image:url(../images/b_peach.gif);
  background-repeat:no-repeat;
  height:30px;
}

#connect { 
  text-transform: uppercase;
  margin-top:17px;
  margin-bottom:12px;
  margin-right:0px;
  margin-left:5px;
  color:white;
  font-size:0.9em;
}

 #b_blue {
  background-image:url(../images/b_blue.gif);
  margin-right:0px;
  background-repeat:no-repeat;
  height:40px;
}

#latest_projects {
  margin-right:80px;
  margin-left:5px;
}

#wrapper {
  width: 900px;
  margin: 0 auto;
  background: white;
  padding: 0 20px;
}

p#Footer {
  clear: both;
  font-size: 0.83em;
  color: #b9b9b9;
  margin: 25px;   
  text-align: center;
  background-color: white;
  padding: 40px;
}

p#Footer a {  
  color: #b9b9b9;
  text-decoration: none;
}

  
 
