html {
  background-color:#eeeeee;
  padding:0;
  margin-top:0px;
}

body {
  color: black;
  font-size: 100.01%;
  font-family: 'Francois One',Arial,Helvetica,sans-serif;
  position: relative;
  text-align: center;  /* Zentrierung im Internet Explorer */
  margin: 0;
}
body * {
  text-align: left;
}

#header {
  font-size: 1.0em;
  font-family:'Francois One';
  color: #ff8888;
  padding-top: 20px;
  margin-bottom: 25px;
  margin-left:20px;
  margin-right:20px;
}
#header h1 {
  float: left;
  margin: 0;
  margin-bottom:40px;
}

#sub_header {
  clear: left;
  font-family:Arial;
  
}

#headernav {
  float: right;
  width: 30%;
  margin-top: -13px;
}

#language {
  font-size: 1.4em;
  font-family:'Francois One',Arial, Helvetica, Verdana, sans-serif;
  color: #00ccbb;
  text-align: right; 
}

#language a {
  color: #00ccbb;
  text-decoration: none; 
}

#sublines {
  width:260px;
  text-transform: uppercase;
  margin-top:8px; 
}

#sublines p {
  text-align: right;
  font-size: 14px;
  line-height:0.5em;
}

#subline1 {
  color:#666666;
  
}
#subline2 {
  color: #ff8888;
}

#wrapper {
  width: 900px;
  margin: 0 auto;
  background: white;
  padding: 0 20px;
}


#menu_bar {
  margin-left:-52px;
  background-image:url(../images/buttons/menu_bar_2.gif);
  margin-top:110px;
  width:130%;
  height:80px;
  background-repeat:no-repeat;  
}

#menu_text {
  float:left;
  margin-left:20px;
  margin-top:10px;
  letter-spacing:3px;
  font-family:arial;
  font-size:16px;
}

#menu_text a {
  color:white;
  text-transform: uppercase;
  text-decoration: none;
  margin-top:20px;
  margin-left:60px;
}

#content {
  float:left;
  
}

#a {
  float: left; 
  margin-left: 30px;
}

#b {
  float:left; 
  margin-left:30px;
}

#c {
  float:left; 
  margin-left:30px;
}

/*#d {
  float: left; 
  margin-left: 20px;
}

#e {
  float:right; 
  margin-right:20px;
}

#f {
  float:left; 
  margin-left:40px;
}*/

#pic_sublines {
  clear: both;
}

#a_subline {
   text-transform: uppercase;
   color: #666666;
   margin-top:0px;
}

#b_subline {
   text-transform: uppercase;
   color: #666666;
   margin-top:0px;
}

#c_subline {
   text-transform: uppercase;
   color: #666666;
   margin-top:0px;
}

p#Footer {
  clear: both;
  font-size: 0.73em;
  color: #b9b9b9;
  margin: 0 auto;   
  text-align: center;
  background-color: white;
  padding: 40px;  
  font-family:arial;
}

p#Footer a {  
  color: #b9b9b9;
  text-decoration: none;
}

/*
div#Wedding{
 style="position:absolute; top:220px; right:130px; clip:rect(0px, 350px, 250px, 0px);"
}


#Page {
      text-align: left;    /* Seiteninhalt wieder links ausrichten */
//      margin: 0 auto;      /* standardkonforme horizontale Zentrierung */
/*      width: 740px;
    height: 500px;
      padding: 10px;
      background: #white;
}

  #Page img{
    position:absolute; 
    top:30px; 
    left:280px; 
    clip:rect(0px, 250px, 9 0px, 0px);
  
  
  div#Weddings {
    margin: 0 0 1em 390px;
    margin-right:-80px;
  color: white;
  }
  
 
