#logo {
	background-image:url('./heylook_logo.png');
	background-repeat:no-repeat;
	background-position:left top;
}

#sales {
   	position:absolute;
   	top:200px;
   	left:100px;
   	width:220px;
   	padding:150px;
   	margin:0px;
	background-image:url('./4.jpg');
	background-repeat:no-repeat;
	background-position: center;

}
#weddings {
   	position:absolute;
   	top:200px;
   	right:100px;
   	width:220px;
   	padding:150px;
   	margin:0px;
	background-image:url('./3.jpg');
 	background-repeat:no-repeat;
	background-position: center;

}
h1#Titel {
   font-family:Arial,sans-serif;
   font-size:2em;
   font-weight:normal;
   color:green;
}