html {
  background-color:#eeeeee;
  padding:0;
  margin-top:0px;
}

body {
  color: black;
  font-size: 110.01%;
  font-family: 'Francois One',Arial,Helvetica,sans-serif;
  position: relative;
  text-align: center;  /* Zentrierung im Internet Explorer */
  margin: 0;
}
body * {
  text-align: left;
}

#header {
  font-size: 1.0em;
  font-family:'Francois One';
  color: #ff8888;
  padding-top: 20px;
  margin-bottom: 25px;
  margin-left:20px;
  margin-right:20px;
}
#header h1 {
  float: left;
  margin: 0;
  margin-bottom:40px;
}

#sub_header {
  clear: left;
  font-family:Arial;
  
}

#headernav {
  float: right;
  width: 30%;
  margin-top: -8px;
}

#language {
  font-size: 1.4em;
  font-family:'Francois One',Arial, Helvetica, Verdana, sans-serif;
  color: #FFcccc;
  text-align: right; 
}

#language a {
  color: #FFcccc;
  text-decoration: none; 
}

#sublines {
  width:260px;
  text-transform: uppercase;
  margin-top:8px; 
}

#sublines p {
  text-align: right;
  font-size: 14px;
  line-height:0.2em;
}

#subline1 {
  color:#666666;
  
}
#subline2 {
  color: #ff8888;
}

#wrapper {
  width: 900px;
  margin: 0 auto;
  background: white;
  padding: 0 20px;
}


#menu_bar {
  margin-left:-52px;
  background-image:url(../images/buttons/menu_bar_2.gif);
  margin-top:110px;
  width:130%;
  height:80px;
  background-repeat:no-repeat;  
}

#menu_text {
  float:left;
  margin-left:20px;
  margin-top:10px;
  letter-spacing:3px;
  font-family:arial;
  font-size:16px;
}

#menu_text a {
  color:white;
  text-transform: uppercase;
  text-decoration: none;
  margin-top:20px;
  margin-left:60px;
}

#menu_text a:hover, #menu_text span{
  text-decoration: none;
  text-transform: uppercase;
  color:#bbffdd;
  margin-left:60px;
}

#content {
  float:left; 
}

#a {
  float: left; 
  margin-left: 30px;
}

#b {
  float:left; 
  margin-left:30px;
}

#c {
  float:left; 
  margin-left:30px;
}

#d {
  float: left; 
  margin-left: 30px;
}

#e {
  float:left; 
  margin-left:30px;
}

#f {
  float:left; 
  margin-left:30px;
}

#g {
  float:left; 
  margin-left:30px;
}

#h {
  float:left; 
  margin-left:30px;
}

#i {
  float:left; 
  margin-left:30px;
}

#j {
  float:left; 
  margin-left:30px;
}

#k {
  float:left; 
  margin-left:30px;
}

#l {
  float:left; 
  margin-left:30px;
}

#m {
  float:left; 
  margin-left:30px;
}

#n {
  float:left; 
  margin-left:30px;
}

#o {
  float:left; 
  margin-left:30px;
}  


#pic_sublines {
  clear: both;
  font-size:10px;
}

#a_subline {
   text-transform: uppercase;
   color: #666666;
   margin-top:-5px;
   font-size:12px;
}

#b_subline {
   text-transform: uppercase;
   color: #666666;
   margin-top:-5px;
   font-size:12px;
}

#c_subline {
   text-transform: uppercase;
   color: #666666;
   margin-top:-5px;
   font-size:12px;
}

#d_subline {
   text-transform: uppercase;
   color: #666666;
   margin-top:-5px;
   font-size:12px;
}

#e_subline {
   text-transform: uppercase;
   color: #666666;
   margin-top:-5px;
   font-size:12px;
}

#f_subline {
   text-transform: uppercase;
   color: #666666;
   margin-top:-5px;
   font-size:14px;
} 

#g_subline {
   text-transform: uppercase;
   color: #666666;
   margin-top:-5px;
   font-size:14px;
}

#h_subline {
   text-transform: uppercase;
   color: #666666;
   margin-top:-5px;
   font-size:14px;
}

#i_subline {
   text-transform: uppercase;
   color: #666666;
   margin-top:-5px;
   font-size:14px;
}

#j_subline {
   text-transform: uppercase;
   color: #666666;
   margin-top:-5px;
   font-size:14px;
}

#k_subline {
   text-transform: uppercase;
   color: #666666;
   margin-top:-5px;
   font-size:14px;
}

#l_subline {
   text-transform: uppercase;
   color: #666666;
   margin-top:-5px;
   font-size:14px;
}

#m_subline {
   text-transform: uppercase;
   color: #666666;
   margin-top:-5px;
   font-size:14px;
}

#n_subline {
   text-transform: uppercase;
   color: #666666;
   margin-top:-5px;
   font-size:14px;
}

#o_subline {
   text-transform: uppercase;
   color: #666666;
   margin-top:-5px;
   font-size:14px;
}

p#Footer {
  clear: both;
  font-size: 0.73em;
  color: #b9b9b9;
  margin: 0 auto;   
  text-align: center;
  background-color: white;
  padding: 40px;  
  font-family:arial;
}

p#Footer a {  
  color: #b9b9b9;
  text-decoration: none;
}
